commands:
  01_setup_swap:
    command: |
      if [ ! -f /var/swapfile ]; then
        fallocate -l 2G /var/swapfile
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
      fi

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:command:
    timeout: 2000