[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
python-dotenv = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
whitenoise = "*"
numpy = "*"
joblib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
